* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --light: #bdd9bf;
    --blue: #2e4052;
    --yellow: #ffc857;
    --white: #ffffff;
    --purple: #412234;
    background-color: var(--light);
  }

.body {
    width: 100%;
    
}  
.container-fluid {
    width: 100%;
}
.navbar {
    background-color: var(--purple);
    height: 100px;

}

.nav-item {
    font-size: x-large;
    
}

.nav-item a {
    color: var(--yellow);
}

.nav-item a:hover {
    color: var(--white);
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }