* {
    box-sizing: border-box;
    background-color: var(--offwhite);
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --light: #bdd9bf;
    --blue: #2e4052;
    --yellow: #ffc857;
    --white: #ffffff;
    --purple: #412234;
    --offwhite: #d2d2d2;
    --dark: #031832;
}

.navbar {
    background-image: linear-gradient(#031832, #8e9bc0); 
    height: 100px;
}

.nav-item {
    font-size: x-large;
    background: transparent;
    margin: 15px;
}

.nav-item a {
    color: var(--yellow);
}

.nav-item a:hover {
    color: var(--white);
}

.nav-item a.active {
    color: var(--white);
}

.about-card {
    background-color: var(--dark);
    /* background-image: linear-gradient(#031832, #d2d2d2);  */
    margin-top: 50px;
    border-radius: 50px;
    margin-bottom: 50px;
    width: 75%;
    text-align: center;
    position: relative;
    left: 12.5%;
}

.about-header {
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 36px;
    color: white;
}

.about-card .about-header,
.about-p {
    background: transparent;
    border-radius: 50px;
    padding: 30px;
    color: var(--white);
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 300px;
}

.project-card {
    background-color: var(--blue);
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    box-shadow: 10px 10px;
}
.portfolio-header {
    color: white;
}

.portfolio-p {
    color: var(--dark);
    text-align: center;
    font-size: 24px;
}

.project-img {
    background: transparent;
    width: 200px;
    height: 150px;
}

.link {
    background: transparent;
    margin: 5px;
}

.github-link {
    text-decoration: none;
    color:var(--yellow);
}

.link a:hover {
    color: white;
    text-decoration: none;
}

.features-icons-item, h3 {
    background: transparent;
}

.pdf-btn {
    background-color: var(--yellow);
    width: 200px;
    height: 75px;
    font-size: 24px;
    border-radius: 30px;
    margin: 20px;
}

.resume-page {
    text-align: center;
    margin-top: 50px;
    width: 50%;
    left: 25%;
    position: relative;
    margin-bottom: 50px;
    background-color: var(--dark);
    padding: 10px;
    border-radius: 20px;
}

.proficiencies {
    color: var(--white);
    font-size: 40px;
    background: transparent;
}

.proficiencies-list li {
    list-style-type: none;
    color: var(--white);
    background: transparent;
    background-color: var(--dark);
    font-size: 24px;
    padding-bottom: 5px;
}

.resume-link {
    color: #ffc857;
    background-color: var(--blue);
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

a:hover {
    color: var(--white);
    text-decoration: none;
}

/* .form-group {
    width: 50%;
}

.text-area {
    width: 50%;
} */

/* .contact-page {
    margin-top: 25px;
    left: 25%;
    position: relative;
    border-style: dashed;
    width: 50%;
    background-color: #031832;
} */

/* .contact-header {
    color:var(--yellow);
    position: relative;
    background-color: var(--dark);
    text-align: center;
}

.contact {
    color: var(--yellow);
    position: relative;
    background-color: var(--dark);
    text-align: center;
    
}

.contact-form {
    margin: 25px;
    background-color: var(--dark);
    text-align: center;
} */

/* input {
    text-align: center;
}

.form-group, .text-area {
    left: 25%;
    position: relative;
}

.error-message {
    color: rgb(243, 118, 118);
}

label {
    color: #ffffff;
}

.contact-page button {
    background-color: var(--yellow);
    color: var(--blue);
    margin-top: 15px;
    height: 50px;
    font-size: larger;
}

.contact-page button:hover {
    background-color: lightblue;
} */

.footer {
    background-image: linear-gradient(#d2d2d2, #031832); 
    height: 75px;
    position: relative;
}

.icon {
    display: inline;
    font-size: x-large;
    margin: 10px;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    left: 45%;
    position: relative;
}

@media (max-width: 572px) {
    .nav-item {
        font-size: 90%;
        padding: 0 0 10px 0;
    } 

    .contact {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .nav-item {
        display: block;
        padding: 0 0 10px 0;
    }

    .photo {
        width: 250px;
        height: 270px;
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 1200px) {
    
}